*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    font-family: "Open Sans", sans-serif;
    background-color: #F5F4F0;
}

main {
    margin: 80px 80px 0 80px;
}



span{
    color: #E1624F;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

h1{
    color: #1B1B1B;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
}

img{
    border-radius: 28px;
    max-width: 100%;
}

#title p{
    font-size: 16px;
    font-style: italic;
    margin-top: 24px;
    text-align: center;
}

hr {
    background-color: #D9D9D9;
    width: 100%;
    height: 1px;
    margin: 36px 0;
    border: none;
  }

.description img{
    border-radius: 28px;
    width: fit-content;
}
.description p{
    text-align: center;
    font-style: italic;
    margin-top: 24px;
}

.title-list{
    margin: 64px 0 16px 0;
}

h2{
    color: #1B1B1B;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

ol img{
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    margin-top: 48px;
}

ol img+li

h3{
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
}

.number {
    font-weight: bold;
    font-size: 28px;
    margin-left: 40px;
    margin-bottom: 5px;
}

ul li{
    list-style-position: inside;
    list-style-type: disc;
    color: #0C51A7;
    font-weight: bold;
}

ul li::marker {
    color: #333333;
  }

#casais{
    color: #591B98;
}

#familias{
    color: #E5245E;
}

#orcamentos{
    color: #E95E10;
}

.description{
    text-align: center;
}

footer {
    font-family: "Alice", serif;
    text-align: center;
    padding: 48px;
    line-height: 150%;
  }
  
  footer img {
    vertical-align: middle;
  }